:root {
  --color-background: #aa3333;
  --color-container: #add8e6;
  --color-text: #1d1c1a;
  --color-button: #bf5858;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Dancing Script", cursive;
  font-size: 2.5rem;
  color: var(--color-text);
  width: 100%;
  height: 100vh;
  background-color: var(--color-background);
}

/* Objects */
.flex-object {
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-size-object {
  width: 100%;
  height: 100%;
}

/* Main */
.container-buttons {
  gap: 1.8rem;
}

.container button {
  border-radius: 15px;
  border: 3px solid var(--color-text);
  padding: 1.2rem;
  font-size: 3.5rem;
  opacity: 0.9;
  transition: all 0.25s;
}

.container button:hover {
  transform: scale(1.1);
  text-decoration: underline;
  opacity: 1;
}
